body {
    background-image: url(../images/background.jpg);
}

footer {
    height: 60px;
    text-align: center;
    padding-top: 15px;
}

.navbarNavDropdown {
    float: right;
}

.btn {
  margin: 2px;
}

.row {
  margin-bottom: 10px;
  margin-right: 5px;
}

