.image {
    background-image: url(../images/background.jpg);
    height: 100%
    background-size: cover;
}

footer {
    height: 60px;
    text-align: center;
    padding-top: 15px;
}


/* body {
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
} 

@media screen and (max-width: 992px) {
   .myContainer {

   }
  
   .wrapper {
      /* Box-model
      width: 100%;
      padding: 20px;
    } 

    #main-content {
      width: 100%;
    }
  
    /* #sidebar {
      margin-top: 40px;
    } 
  }
  
  /* Additional Screen Sizes */
  
  /* Width at 768px and below 
  @media screen and (max-width: 768px) {
    body {
    }
  
    /* .wrapper {
      /* Box-model
      width: 100%;
      padding: 20px;
    } 
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
  }
  
  /* Width at 400px and below 
  @media screen and (max-width: 400px) {
    /* body {
    } 
  
    .wrapper {
      /* Box-model 
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
  } */