.big-banner {
    background-image: url(../images/background.jpg);
}

/* body {
    margin-bottom: 60px;
} */

/* footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
} */